<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%boldWhite(%d{HH:mm:ss.S}) %gray([%thread]) %highlight(%-5level) %green(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.vk.api.sdk.httpclient" level="WARN" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>